<div class="card">
  <div class="card-body">
    <h1 class="card-title">Register</h1>
    <form class="register-form" [formGroup]="userForm">
      <div class="form-group">
        <label for="NameInput">Name*</label>
        <input
          class="form-control"
          formControlName="fullname"
          type="fullname"
          name="fullname"
          required
        />
        <p
          *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)"
          style="color: #a94442; margin: 0"
        >
          Name must be at least 2 characters long.
        </p>
      </div>
      <div class="form-group">
        <label for="EmailInput">Email address*</label>
        <br />
        <input
          class="form-control"
          placeholder="word@mail.end"
          formControlName="email"
          type="email"
          name="email"
          required
        />
        <p
          *ngIf="email.invalid && (email.dirty || email.touched)"
          style="color: #a94442; margin: 0"
        >
          Pattern: word@mail.com; no "ä, ü, ö"
        </p>
      </div>
      <div class="form-group">
        <label for="PasswordInput">Password*</label>
        <input
          class="form-control"
          formControlName="password"
          type="password"
          name="password"
          required
        />
      </div>
      <div class="form-group">
        <label for="RepeatPassword">Repeat Password*</label>
        <input
          class="form-control"
          formControlName="repeatPassword"
          type="password"
          name="repeatPassword"
          required
        />
        <div class="alert alert-danger" *ngIf="formIsInvalid">
          Your data is invalid. Please check your input.
        </div>
        <p
          *ngIf="
            repeatPassword.invalid && repeatPassword.hasError('passwordMatch')
          "
          style="color: #a94442; margin: 0"
        >
          Password mismatch
        </p>
      </div>
    </form>
    <button type="button" class="btn primary" (click)="register()">
      Register
    </button>
    <br />
    <span>
      Already have an account?
      <a [routerLink]="['/auth/login']"> Login </a>
      here
    </span>
  </div>
</div>
